<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />    
    <link rel="stylesheet" href="css/index.css" />
    <script src="funciones.js"></script>  
    <title>Blog WemanConnect</title>
    
</head>



<body>
<!--encabezdo general-->
<!--icono, barra de título y espcio para dos iconos del lado derecho-->
<div id="menu">
<table style="width:100%" "height:50% " border="0" cellspacing="0" cellpadding="10";>
    <tr>
        <div class="iconos">
            <td height="5" width="3%" bgcolor="DARKSLATEGRAY"> 
                <a onclick=""><img src="img/wc.jpg" alt="Cinque Terre" width="80" height="50"></a>
            </td>
    
            <td height="10" width="80%" bgcolor="DARKSLATEGRAY"> 
                <h1>Weman Connect Blog</h1>   
            </td>
    
            <td height="10%" width="1%" bgcolor="DARKSLATEGRAY"> 
                <a onclick="mostrar1()"><img src="img/share_icon2.png" alt="Cinque Terre" width="60" height="60"></a>
            </td>
    
            <td height="10" width="5%" bgcolor="DARKSLATEGRAY"> 
                <a onclick="mostrar2()" class="user" href="#"><img src="img/user_icon.png" alt="Cinque Terre" width="60" height="60"></a>
            </td>
        </div>
    </tr>
</table>
</div>

</body>

<!--cajita Publicar nueva entrada-->
<body>                
    <div id="cajapub" >
        <form id="form2"  method="POST" action="./publica">
            <input type="hidden" name="idusr" value = "1" />
            <h3>Publicar entrada nueva</h3>
            <input id="titulo" type="text" placeholder="Título de la entrada" name="titulo">
            <textarea id="contenido" name= "cajitacomen" cols= "39" rows="5" placeholder="Contenido"></textarea>
            <p id="autor"><h3>Autor del post</h3></p>
            <input type="submit" value="Publicar">
        </form>
        <input type="submit" value="Cerrar" onclick="cerrar1()">
    </div>
</body>


<!--cajita logIn-->
<body>                
    <div id="caja" >
        <form id="form1" name="form1" style="display:block" method="POST" action="./login" onsubmit="validarfor()">
            <h2>Formulario LogIn</h2>
            <input id="email" type="email" placeholder="Correo" name="usr" required="required">
            <p>
            <input id="password" type="password" placeholder="Contraseña" name="pwd" required="required" > <span id="emailOK"></span>
            </p>
            <input type="submit" value="Ingresar" onclick="probarlogin()" >
            <input type="submit" value="Olvidé mi contraseña" >
        </form>
        <input type="submit" value="Cerrar" onclick="cerrar2()">
    </div>
</body>


<!--navegción-->
    <!--después hay un contenedor grande donde van las publicaciones-->
<!--podría añadir aquí el separador o div para la publicación nueva-->    

  

<body onload="leePublicaciones()">
       <section id="public">
            <div class="comentario" id="com1">
                <div class="comentario_hdr">
                    <h3 id="titulo"></h3>
                    <p id="autor"></p>
                </div>
                <div id="contenido" class="comentario_cont"><br></div>
                <img class="img_comentario" img src="" alt="imagen de ejemplo"  />
            </div>
        </section>

    </div> 
</body>

</html>