body {
    background: linear-gradient(to right, #bc4e9c, #f80759);
  }


  h1 {
    color: white;
    font-size: 200%
  },

#cont_cajacomentarios{
    margin-top: 0%;
    margin-bottom: 8%;
    margin-left: 0%
    /* float: left; */
    padding-bottom: 0px; 
    
};

#menu {
    padding: 10px;
    font-size: 50px;
}





div.iconos:hover {
    border: 1px solid #777;
        
}
    